; At least one folder entry is required, preceding file entries.
; Populating a root directory "/" is optional.
; Other folder entries will be treated as subdirectories.
[folder /]

; Entries are aliased by providing a name, followed by an equal sign (=), and the local path.
; Paths are evaluated relative to the current working directory (CWD) of `mkdisc.py`.
passwords.db = ./backup/mysql_passwords.sql.gz

; Entries without an alias prefix will adopt their local name.
./backup/mysql_entries.sql.gz

; Subfolders can encompass other aliases too
[folder /Content]
content.db = ./backup/mysql_content.sql.gz
./backup/mysql_tasks.sql.gz


